/* General styles */
:root {
  --main-bg-color: #f0f0f0;
  --cell-bg-color: #333;
  --text-color: #333;
  --revealed-color: #3265ca;
  --strike-color: #dc3545;
  --sequence-bg-color: #88bbe9;
  --cell-padding: 2vh 3vh;
  --cell-font-size: 5vh;
  --gap: 1vh;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Layout */
.audience-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 90vh;
    width: 80vw;
    max-width: 1920px;
    margin: 0 auto;
}

.question-header {
    align-self: end;
    text-align: center;
    font-size: clamp(16px, 3vw, 48px);
    line-height: 1.2;
}

.gameboard {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap);
}

/* Answer cells */
.cell, .answer-cell {
    width: calc(50% - var(--gap) / 2);
    display: flex;
    align-items: center;
    background-color: var(--cell-bg-color);
    padding: var(--cell-padding);
    font-size: var(--cell-font-size);
    color: white;
}

.answer-cell.revealed { background-color: var(--revealed-color); }

.sequence {
    background-color: var(--sequence-bg-color);
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
    font-weight: bold;
    font-size: 3vh;
}

.text {
    flex-grow: 1;
    text-align: left;
    padding-right: 16px;
}

.points {
    font-weight: bold;
}

/* Team names and scores */
.team-name, .team-score { 
    /* existing styles */
    display: flex; /* Add this line */
}

.team-name-left, .team-score-left { 
    text-align: left; 
}

.team-name-right, .team-score-right { 
    text-align: right;
    justify-content: flex-end; /* Add this line */
}

/* Strikes */
.strikes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.strike {
    width: 10vh;
    height: 10vh;
    background-color: var(--cell-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--cell-font-size);
    color: var(--strike-color);
}

.question-header,
.cell,
.sequence,
.text,
.points,
.team-name,
.team-score,
.strike {
    text-transform: uppercase;
}

.league-gothic-ff {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
